<div class="position-relative f_14 w-100 orderTable">
  <!-- <pre>
    {{allOrders|json}}
  </pre> -->
    <div class="table-responsive">
    <table class="table mt-2 border table-responsive table-bordered">
      <thead>
        <tr>
          <th scope="col" class="bg-light">#</th>
          <th scope="col" class="bg-light">C.Id</th>
          <th scope="col" class="bg-light">C.Name</th>
          <th scope="col" class="bg-light">M.No</th>
          <!-- <th scope="col" class="bg-light">Act</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allCustomers;let i=index">
          <td>{{ ((currentPage - 1) * pageSize) + (i + 1) }}</td>
          <td>{{item.customerId}}</td>
          <td *ngIf="item.customerName.length>0">{{item.customerName}}</td>
          <td *ngIf="item.mobileNo.length>0">{{item.mobileNo}}</td>
          <!-- <td class="d-flex align-content-between"> -->
             <!-- <button class="btn btn-info btn-sm p-1 my-0 py-0" routerLink="view/{{item._id}}">View</button> -->
             <!-- <button class="btn btn-danger btn-sm p-1 my-0 py-0 mx-1" (click)="removeOrder(item._id,item.productId,item.productQuantity)">Remove</button> -->
          <!-- </td> -->
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="allCustomers.length == 0">Add Customer</div>
    <mat-paginator [length]="totalRecords"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="onPageChange($event)"
              >
</mat-paginator>
    </div>

    <div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;" *ngIf="isLoader">
      <div class="spinner"></div>

      <style>
      .spinner {
         width: 11.2px;
         height: 11.2px;
         animation: spinner-z355kx 1s infinite linear;
         border-radius: 11.2px;
         box-shadow: 28px 0px 0 0 #0d6efd, 17.4px 21.8px 0 0 #0d6efd, -6.2px 27.2px 0 0 #0d6efd, -25.2px 12px 0 0 #0d6efd, -25.2px -12px 0 0 #0d6efd, -6.2px -27.2px 0 0 #0d6efd, 17.4px -21.8px 0 0 #0d6efd;
      }
      
      @keyframes spinner-z355kx {
         to {
            transform: rotate(360deg);
         }
      }
      </style>
    </div>
    