<div class="container-fluid">
  <div class="row p-0">
    <!-- <pre>
      {{storPro|json}}
    </pre> -->
    <div class="col-md-6 p-0  mt-2">
      <div class="card">
        <div class="card-header fs-5 fw-medium">
          Add Order
        </div>
        <div class="card-body py-1">
          <div class="loader-wrapper" *ngIf="isFullPageLoad">
            <mat-spinner class="small-spinner"></mat-spinner>
          </div>
          <div class="row border bg-light py-2">
            <div class="col-12">
              <div class="autocomplete-container">
               <label class="form-label">Search Customer</label>
              <input
                #inputField
                type="text"
                [(ngModel)]="searchText"
                (input)="onInputChange()"
                (keydown)="onKeyDown($event)"
                placeholder="Find your customer..."  class="form-control form-control-sm"
              />

              <ul *ngIf="showDropdown" class="autocomplete-list">
                <li
                  *ngFor="let option of filteredOptions; let i = index"
                  [class.active]="i === activeIndex"
                  (click)="selectOption(option)"
                >
                  {{option}}
                </li>
              </ul>
            </div>

            </div>
             <div class="col-6">
                <label class="form-label">Customer Name</label>
                <input type="text" name="customerName" class="form-control form-control-sm"
                  [(ngModel)]="customerName" />
              </div>
               <div class="col-6">
                <label class="form-label">Mobile No</label>
                <input type="number" min="5555555555" max="9999999999" name="mobileNo" class="form-control form-control-sm"
                  [(ngModel)]="mobileNo" />
              </div>
          </div>
          <form action="" class="" #orderForm="ngForm">
            <div class="row py-2  border bg-light">
              <div class="col-xl-12 col-lg-12 col-12 mb-4">
                <label class="form-label">Product *</label>
                <select class="form-select form-select-sm" name="productId" [(ngModel)]="createPro.productId"
                  (change)="getProductHtm($event)" required>
                  <option value="" disabled selected>Select Product</option>
                  <option *ngFor="let pro of products" [value]="pro._id">{{pro.productName}}</option>
                </select>
                <div class="text-danger" *ngIf="orderForm.submitted && !createPro.productId">
                  Product required!
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-6">
                <label class="form-label">Product Stock</label>
                <input readonly [ngStyle]="{'font-weight':'bold'}" type="number"
                  class="form-control form-control-sm bg-light" name="getproductQuantity"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="storPro.getproductQuantity">
              </div>
              <div class="col-xl-6 col-lg-6 col-6">
                <label class="form-label">Selling Price (per Item) (&#8377;)</label>
                <input readonly style="font-weight: bold;" type="number" class="form-control form-control-sm bg-light"
                  name="getproductSellingPrice" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="storPro.getproductSellingPrice">
              </div>
              <div class="col-6">
                <label class="form-label">Quantity *</label>
                <input type="number" name="productQuantity" min="1" class="form-control form-control-sm"
                  [(ngModel)]="createPro.productQuantity" required/>
                <div class="text-danger" *ngIf="orderForm.submitted && !createPro.productQuantity">
                  Quantity required!
                </div>
              </div>

              <div class="col-6">
                <label class="form-label">Selling Price (per Item) (&#8377;) *</label>
                <input type="number" name="productSellingPrice" min="1" class="form-control form-control-sm"
                  [(ngModel)]="createPro.productSellingPrice" required/>
                <div class="text-danger" *ngIf="orderForm.submitted && !createPro.productSellingPrice">
                  Selling price required!
                </div>
              </div>
              

              <div class="col-12 text-danger my-1" *ngIf="isError">
                ❌{{isError}}
              </div>
              <div style="margin-top: 8px;">
                <button mat-flat-button color="primary" style="margin-right: 5px;" (click)="addCart(orderForm)">Add
                  Cart</button>
                <button mat-flat-button color="warn" style="margin-right: 5px;" [disabled]="isCreateOrderLoader"
                  (click)="createOrder()">Order Save</button>
                <button mat-flat-button color="accent" type="button" routerLink="../">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0  mt-2">
       <div class="card">
        <div class="card-header fs-5 fw-medium">
          Add Cart
        </div>
        <div class="card-body p-1">
      <div class="position-relative f_14 w-100">
        <div class="table-responsive">
          <table class="table border mb-0 table-responsive table-bordered">
            <thead>
              <tr>
                <th scope="col" class="bg-light">S.No</th>
                <th scope="col" class="bg-light">P.Name</th>
                <th scope="col" class="bg-light">Qty</th>
                <th scope="col" class="bg-light">S.Price</th>
                <th scope="col" class="bg-light">total</th>
                <th scope="col" class="bg-light">Act</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of multiProducts;let i=index">

                <td>{{i+1}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.productQuantity}}</td>
                <td>{{item.productSellingPrice}} &#8377;</td>
                <td>{{item.productQuantity * item.productSellingPrice}} &#8377;</td>
                <td>
                  <button class="btn btn-danger btn-sm p-1 my-0 py-0" (click)="removeCartItem(i)">Remove</button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="multiProducts.length > 0">
              <tr>
                <th scope="col" colspan="4" class="bg-light">Grand Total</th>
                <th scope="col" colspan="2" class="bg-light">{{grandTotal()}} &#8377;</th>
              </tr>
            </tfoot>
          </table>
          <div class="text-center" *ngIf="multiProducts.length == 0">Add Order to cart</div>
        </div>


      </div>


    </div>
  </div>

</div>
</div>

<!-- loader -->
<div class="d-flex align-items-center justify-content-center"
  style="width: 100%; height: 100%;position:fixed;top:0;left:0;z-index:99999;background-color: #0000005e;"
  *ngIf="apiLoader">

  <mat-spinner style="opacity: 1;" [color]="color" [diameter]="50"></mat-spinner>
</div>

<div class="successLoader d-flex align-items-end justify-content-center">
  <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1"
    [ngStyle]="isCreateOrd ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}">
    <span class="text-success fw-bold">Order Created</span> Successfully
  </div>
</div>