.autocomplete-container {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover,
.autocomplete-list li.active {
  background-color: #ccc;
}
.autocomplete-list li{
font-size: 14px;
  text-transform: capitalize;
}
