<div class="container-fluid">
  <div class="row p-0">
    <div class="col-md-12 p-0  mt-2">
      <div class="card">
        <div class="card-header fs-5 fw-medium">
          Product View
        </div>
        <div class="card-body py-1">
          <div class="loader-wrapper" *ngIf="isFullPageLoad">
            <mat-spinner class="small-spinner"></mat-spinner>
          </div>
          <form action="" class="" *ngIf="!isFullPageLoad">
            <div class="row py-2  border bg-light">
              <div class="col-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm bg-white" name="name" readonly
                  [(ngModel)]="viewPro.productName">
              </div>
              <div class="col-6">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control form-control-sm bg-white" name="productQuantity"
                  [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.productQuantity">
              </div>
              <div class="col-6">
                <label class="form-label">Category</label>
                <input readonly type="text" min="0" class="form-control form-control-sm bg-white" name="productCategory"
                  [ngModelOptions]="{standalone: true}" readonly [(ngModel)]="viewPro.productCategory">
              </div>
              <div class="col-6">
                <label class="form-label">Purchasing Price</label>
                <input readonly type="number" min="0" class="form-control form-control-sm bg-white"
                  name="productPurchasingPrice" [ngModelOptions]="{standalone: true}" readonly
                  [(ngModel)]="viewPro.productPurchasingPrice">
              </div>
              <div class="col-6">
                <label class="form-label">Selling Price</label>
                <input readonly type="number" min="0" class="form-control form-control-sm bg-white"
                  name="productSellingPrice" [ngModelOptions]="{standalone: true}" readonly
                  [(ngModel)]="viewPro.productSellingPrice">
              </div>
              <div class="col-6">
                <label class="form-label">Purchasing Date</label>
                <input readonly type="text" min="0" class="form-control form-control-sm bg-white"
                  name="productPurchasingDate" [ngModelOptions]="{standalone: true}" readonly
                  [(ngModel)]="viewPro.productPurchasingDate">
              </div>

              <div style="margin-top: 8px;">
                <button mat-flat-button color="accent" type="button" routerLink="../../">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div style="background-color: greenyellow;padding:7px;font-size: 18px;margin-bottom: 5px;font-weight: bold;">
        <span>View Product</span></div> -->
    </div>
  </div>


</div>