.c_container{
    min-width: 90%;
    margin:0 5%;
    position: relative;
}

.backgroundDesign{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rebeccapurple;
    left: 0%;
    bottom: 0%;
    border-radius: 50%;
    z-index: -1;
}
.example-full-width{
    width: 100%;
}
.nav-link{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    list-style: none;
    padding:0;
}
.nav-link li{
    margin-right:8px;
}
  mat-drawer {
    width: 250px;
  }
  
  mat-drawer-container{
    width: 98%;
    margin-left: 1%;
    height: calc(100vh - 60px);
  }
  mat-toolbar{
    width: 98%;
    margin-left: 1%;
  }
  
  mat-drawer-content {
    padding: 2px;
    border-left: 2px solid #eee;
  }
  li{transition: 0.2s;}
  .mat-success{
    background-color: greenyellow;
    color: #000;
  }
  .menu-item{text-decoration: none;}
  .example-spacer {
    flex: 1 1 auto;
  }
  @media (max-width:568px){
    .c_container{
        min-width: 90%;
        margin:0 5%;
    }
    mat-drawer-container{
      height: 100%;
      width: 96%;
      margin-left: 2%;
    }
    mat-toolbar{
      width: 96%;
      margin-left: 2%;
    }
    mat-drawer-content{
      border-left: none;
    }
}

.mat-drawer.mat-drawer-side {
  z-index: 1;
}