<h4>Setting</h4>
<hr class="dashboardTitle">
<div class="container-fluid">

    <div class="row mt-2 g-2">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div>
                        <div class="card">
                            <div class="card-header fs-5 fw-medium">
                                Profile
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 d-flex justify-content-center">
                                        <div class="profileImage text-capitalize fw-bold">
                                            {{adminProfile.ownerName|slice:0:1}}
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-7 d-flex align-items-center justify-content-center justify-content-md-start">
                                        <div>
                                            <div class="fw-medium fs-2 text-capitalize">{{adminProfile.ownerName}} / {{adminProfile.shopId}}</div>
                                            <div class="text-secondary">{{adminProfile.shopName}}</div>
                                            <div class="text-secondary">{{adminProfile.address}}</div>
                                            <div class="text-secondary">{{adminProfile.email}}</div>
                                            <div class="text-secondary">{{adminProfile.mobileNo}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header fs-5 fw-medium">
                    Profile Password
                </div>
                <div class="card-body py-1">
                    <form action="" class="" (ngSubmit)="onChangePassword(pswform.value)" #pswform="ngForm">
                        <div class="row py-2 ">
                            <div class="col-12">
                                <label class="form-label">Old Password  <sup class="text-danger">*</sup></label>
                                <input type="password" class="form-control form-control-sm bg-white" name="oldpassword"
                                     ngModel required #oldpassword="ngModel">
                                <small class="text-danger" *ngIf="!oldpassword.valid && oldpassword.touched">Please enter old password</small>
                            </div>
                            <div class="col-12">
                                <label class="form-label">New Password  <sup class="text-danger">*</sup></label>
                                <input type="password" class="form-control form-control-sm bg-white" name="newpassword"
                                     ngModel required #newpassword="ngModel">
                                <small class="text-danger" *ngIf="!newpassword.valid && newpassword.touched">Please enter new password</small>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Confirm Password <sup class="text-danger">*</sup></label>
                                <input type="password" class="form-control form-control-sm bg-white"
                                    name="confirmpassword" ngModel required #confirmpassword="ngModel">
                                <small class="text-danger" *ngIf="!confirmpassword.valid && confirmpassword.touched">Please enter confirm password</small>
                            </div>
                            <div class="col-12 text-danger my-1" *ngIf="isError">
                                ❌{{isErrorMsg}}
                            </div>
                            <div style="margin-top: 12px;">
                                <button mat-flat-button color="primary" style="margin-right: 5px;"
                                   type="submit" [disabled]="!pswform.valid">Password Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="position-absolute top-0 start-0 h-100 w-100 bg-white text-center fs-2 d-flex align-items-center justify-content-center" style="margin-top: 3px;z-index: 99;" *ngIf="isLoader">
      <div class="spinner"></div>

      <style>
      .spinner {
         width: 11.2px;
         height: 11.2px;
         animation: spinner-z355kx 1s infinite linear;
         border-radius: 11.2px;
         box-shadow: 28px 0px 0 0 #0d6efd, 17.4px 21.8px 0 0 #0d6efd, -6.2px 27.2px 0 0 #0d6efd, -25.2px 12px 0 0 #0d6efd, -25.2px -12px 0 0 #0d6efd, -6.2px -27.2px 0 0 #0d6efd, 17.4px -21.8px 0 0 #0d6efd;
      }
      
      @keyframes spinner-z355kx {
         to {
            transform: rotate(360deg);
         }
      }
      </style>
    </div>
        </div>
    </div>
    
</div>

<div class="successLoader d-flex align-items-end justify-content-center">
    <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1"
        [ngStyle]="ispopupStatus ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}">
        {{popupMsg}}
    </div>
</div>