
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$material-primary: mat.define-palette(mat.$green-palette,900);
$material-accent: mat.define-palette(mat.$yellow-palette,900);

// The warn palette is optional (defaults to red).
$material-warn: mat.define-palette(mat.$green-palette,500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$material-theme: mat.define-light-theme((
  color: (
    primary: $material-primary,
    accent: $material-accent,
    warn: $material-warn,
  ),density: -1
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($material-theme);




@mixin mix-app-theme($material-theme) {
  $primary: map-get($material-theme, primary);
  $accent: map-get($materiamaterial-themel, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}


